.card-container {
  font-family: "Roboto", sans-serif;
}
.name {
  color: #4350af;
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
}
.description {
  margin-bottom: 10px;
  color: #585858;
}
.details {
  color: #a7a7a7;
  margin-left: 10px;
}
.detail-field {
  align-items: center;
  display: flex;
  margin: 0px 0px 10px;
}
