.container-form {
  padding: 15px;
  margin-top: 20px;

  &__title {
    color: #606579;
    font-weight: 500;
    font-size: 1.5rem;
  }
}

.u-mb-1 {
  margin-top: 30px;
}

.container {
  margin-top: 50px;
}

.u-mb-1 {
  margin-bottom: 1.5rem;
}

.paper-entry {
  width: 47%;
  height: 80%;
  margin: 0px 20px;
  padding: 40px;
}

.back-button-project {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #4350af;
}

.errorLogo {
  color: red;
  font-size: 0.8rem;
}

.image-label {
  display: flex;
  flex-direction: column;
  color: #999999;
}
