.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.dialog-content {
  &__text {
    font-size: 0.9rem;
    color: #999999;
    margin-bottom: 10px;
  }
}
.size-dialog {
  width: 520px;
  min-height: 40vh;
}
.not-found-projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.MuiTypography-colorTextSecondary{
  text-align: justify;
}
.MuiListItemText-multiline{
  margin-right: 10px;
}
