.projects-container {
  padding-top: 60px;
  height: 80%;
  width: 80%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.projects-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box-paper {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 270px;
  width: 500px;
  align-items: center;
  margin: 0px 40px 40px 0px;
}
.top-content {
  display: flex;
  justify-content: space-between;
}
