.projects-side {
  margin: 16px;
  width: 100%;
}
.project-header {
  width: 100%;
  display: flex;
  align-items: center;
}
.project-title {
  width: 65%;
  margin: 20px 100px 20px 10px;
}
.project-search {
  float: right;
}
