{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "max-len": ["error", { "code": 100 }],
    "no-return-assign": ["off"],
    "no-duplicate-imports": "error",
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/jsx-sort-props": 2
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12
  },
  "plugins": ["react"]
}
