applications-list {
  display: flex;
  flex-direction: row;
}
.applications-side {
  border-bottom-style: solid;
  border-color: #dddd;
  border-width: 0.5px;
  padding: 15px 0px 50px 20px;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
  height: 150px;
  box-shadow: 0px 10px 10px -6px rgb(228, 228, 228);
  border: 1px solid #e7e7e7;
  border-radius: 7px;
  padding: 30px 35px;
}
card-description-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.card-icon {
  color: rgba(233, 103, 16, 0.867);
}
.card-image {
  width: 150px;
}
.card-image img {
  width: 80px;
  height: 80px;
}
