.Name {
  color: rgba(13, 27, 46, 0.938);
  font-size: large;
  font-weight: bold;
  margin: 12px;
}
.resume-picture {
  padding-left: 80px;
  padding-right: 8px;
}
.resume-picture img {
  width: 100px;
  height: 100px;
}
.resume-information {
  max-width: 300px;
  width: 300px;
  margin-left: 80px;
  margin-right: 80px;
}
.resume-button {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-right: 20%;
}
