.Resumes-Container {
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  width: 90%;
  padding-top: 2%;
}
.Resumes-List {
  padding-bottom: 3%;
}
.Resume-Box {
  background-color: #ffffff;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
  padding-left: 20px;
  border-radius: 5px;
  display: flex;
  vertical-align: middle;
  width: 700px;
}
.Button-Container {
  margin-left: 20%;
}
