.resumes-container {
  height: 100%;
  width: 90%;
  padding-top: 2%;
}
.resumes-list {
  padding-bottom: 3%;
}
.resume-box {
  /* background-color: #ffffff;
   margin-top: 20px;
  margin-right: auto;
  margin-left: auto; 

   padding: 50px;
  padding-left: 20px; 
  margin: 20px;
  border-radius: 5px;

  vertical-align: middle; */
  width: 450px;
}
.head-container {
  // margin-left: 20%;
  display: flex;
  justify-content: space-between;
}
.button-container {
  text-decoration: none;
}
