.logo img {
  width: 70px;
  height: 70px;
  margin-right: 50px;
}
.modal-invitations-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3f51b5;
  padding: 20px 10px 1px 20px;
}
