@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import "../../scss/styles";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--secondary-light);
  font-size: 16px;
}
.container-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
