.navbar-content {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: center;
}
.navbar {
  display: flex;
}
.navbar-label {
  margin: 0px 50px;
}
.logo-content {
  margin: 0px 30px;
}
