.Name {
  color: rgba(13, 27, 46, 0.938);
  font-size: large;
  font-weight: bold;
  margin: 12px;
}
.resume-picture {
  padding-left: 30px;
}
.resume-picture img {
  width: 100px;
  height: 100px;
}
