.container-creation-resume{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 60px;
}
.body, .header{
  display: flex;
  width: 100%;
}
.body{
  height: 100%;
}
.header{
  align-items: center;
}
.logo{
  height: 60px;
}
.container-left, .container-right{
  display: flex;
  flex-direction: column;
  flex:1;
  min-width: 400px;
}
.container-left{
  margin: 40px 0px 0px 60px;
}
.container-right{
  height: 700px;
  margin: 20px 0px 0px 0px;
}
h1{
  margin: 0;
}
h2{
  margin: 20px 10px
}
#subtitle{
  margin: 0;
  font-weight: 300;
  line-height: 35px;
}
.label{
  padding: 20px 0px 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
}
#custom-input{
  width: 400px;
  font-size: 22px;
  margin: 8px 0px;
}
#custom-textfield{
  width: 400px;
  font-size: 22px;
  line-height: 30px;
  margin: 8px 0px;
}
.bottom{
  width: 400px;
  justify-content: flex-end;
  display: flex;
  margin: 20px 0px;
}

