$palette: (
  primary: (
    light: #b7ecf7,
    main: #4acae3,
    dark: #369bae,
    contrast: #fff,
  ),
  secondary: (
    light: #ededf1,
    main: #595957,
    main-rgb: "89, 89, 87",
    dark: #1a1a19,
    contrast: #fff,
  ),
);
$font-weight: (
  light: 300,
  medium: 400,
  bold: 500,
);
$radius: (
  small: 5px,
);
